<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/index :: dynamic(~{::main})}">
<body>
    <main>
        <div class="box">
                <!-- một-->
                <div class="box-one" id="box-one" th:each="p:${items}">
                	<a  th:href="@{|/product/detail/${p.id}|}">
                		<img class="item" th:src="@{|/images/${p.image}|}">
                	</a>
                    
                    <div class="box-name">
                        <p class="name" th:utext="${p.name}"> </p>
                    </div>
                    <div class="box-reviews">
                      <div class="stars">
                        <form action="">
                          <input class="star star-5" id="star-5" type="radio" name="star"/>
                          <label class="star star-5" for="star-5"></label>
                          <input class="star star-4" id="star-4" type="radio" name="star"/>
                          <label class="star star-4" for="star-4"></label>
                          <input class="star star-3" id="star-3" type="radio" name="star"/>
                          <label class="star star-3" for="star-3"></label>
                          <input class="star star-2" id="star-2" type="radio" name="star"/>
                          <label class="star star-2" for="star-2"></label>
                          <input class="star star-1" id="star-1" type="radio" name="star"/>
                          <label class="star star-1" for="star-1"></label>
                        </form>
                      </div>
                    </div>
                    <div class="box-gia" >
                        <!--Giá :  <i class="box-gia-khuyenmai">VNĐ</i>-->
                        <p class="car-box-price  pull-left">Giá: <span class="car-price">$[[${p.price}]]</span></p>
                    </div>
                    <div class="box-button">
                        <button class="button" th:attr="ng-click=@{|cart.add(${p.id})|}">Thêm Vào Giỏ<i class="glyphicon glyphicon-shopping-cart"></i></button>
                    </div>
                </div>
                </div>
    </main>
</body>

</html>