<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/index :: dynamic(~{::main})}">

<body>
    <main>
    	<div th:replace="~{/cart/view :: shopping-cart}"></div>
          <div class="panel panel-primary  checkout-panel">
            <div class="panel-heading  checkout-heading">ĐẶT MUA</div>
            <div class="panel-body  checkout-body">
              <div class="row row-top">
                <div class="form-group col-sm-6">
                  <div>Purchaser:</div>
                  <div class="form-control" id="username">[[${#request.remoteUser}]]</div>
                </div>
                <div class="form-group col-sm-6">
                  <div>Order date</div>
                  <div class="form-control">{{order.createDate | date :'dd-MM-yyyy'}}</div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-12  checkout-form">
                  <div class="note-name">Shipping address</div>
                  <textarea ng-model="order.address" class="form-control note"></textarea>
                </div>
              </div>
            </div>
              <div class="panel-footer text-right  checkout-footer">
                <button ng-click="order.purchase()" class="btn btn-success">Purchase</button>
              </div>
          </div>
    </main>
</body>

</html>