<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/index :: dynamic(~{::main})}">


<body>
    <main th:object="${order}">
         <div class="panel panel-primary  checkout-panel">
        	<div class="panel-heading  checkout-heading">ORDER INFORMATION</div>
        	<div class="panel-body  checkout-body">
        		<div class="row row-top" style="margin-top: 10px;">
        			<div class="form-group col-sm-4" >
        				<div>Order Number:</div>
        				<input th:field="*{id}" class="form-control" readonly>
        			</div>
        			<div class="form-group col-sm-4">
        				<div>Purchaser:</div>
        				<input th:field="*{account.username}" class="form-control" readonly>
        			</div>
        			<div class="form-group col-sm-4">
        				<div>Purchaser Date:</div>
        				<input th:field="*{createDate}" class="form-control" readonly>
        			</div>
        		</div>
        		<div class="row">
        			<div class="form-group col-sm-12  checkout-form2">
        				<div>Shipping address:</div>
        				<textarea th:field="*{address}" class="form-control  note1" readonly></textarea>	
        			</div>
        		</div>
        	</div>
        	</div>	
        	<div class="panel panel-primary shopping-shopping" style="margin-top: 30px;">
        		<div class="panel-heading  shopping-heading  lines-shopping">ORDER Lines</div>
        		<table class="table  shopping-hover">
        			<thead>
        				<tr class="tr">
        					<th>id</th>
        					<th>Name</th>
        					<th>Price</th>
        					<th>Quantity</th>
        					<th>Amount</th>
        				</tr>
        			</thead>
        			<tbody>
        				<tr th:each="detail:*{orderDetails}" th:object="${detail}">
        					<td>[[*{product.id}]]</td>
        					<td>[[*{product.name}]]</td>
        					<td>$[[*{#numbers.formatDecimal(price,0,'COMMA',2,'POINT')}]]</td>
        					<td>[[*{product.id}]]</td>
        					<td>$[[*{#numbers.formatDecimal(price*quantity,0,'COMMA',2,'POINT')}]]</td>
        				</tr>
        			</tbody>
        		</table>
        	</div>
    </main>
</body>

</html>