<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="UTF-8">
<title>SHOP BÁN GIÀY SNEAKERS (Dự án nhóm 1)</title>
<link rel="shortcut icon"  href="/image/icon-shoes.png" type="image/x-icon">
     <link
	href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link
	href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700"
	rel="stylesheet">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>
    <link rel="stylesheet" href="/shoes.css/nav.css">
    <link rel="stylesheet" href="/shoes.css/footer.css">
    <link rel="stylesheet" href="/shoes.css/stylee_layout.css">
    <link rel="stylesheet" href="/shoes.css/quangcao.css">
</head>
<body>
	<main>
		
          <div class="box-sidebar">
            <div class="ps-sidebar-header">
              <h3>TIN TỨC MỚI</h3>
            </div>
            <div class="ps-sidebar-content">
              <div class="ps-post-sidebar">
                <div class="ps-image-sidebar">
                  <a href=""><img
                      src="https://kingshoes.vn/data/upload/media/spa-giay-chuyen-nghiep-king-shoes-ve-sinh-giay-crep-protect-hcm-1-1572690766--hbisappc-1624438875--2-.jpeg"
                      alt=""></a>
                </div>
                <div class="ps-box-sidebar">
                  <p>DỊCH VỤ VỆ SINH GIÀY SNEAKER CHUYÊN NGHIỆP TẠI TÂN BÌNH MYSHOES.VN</p>
                  <span>
                    <i class="fa fa-calendar-o"></i> 11/01/2023 - <i class="fa fa-clock-o"></i> 12:00AM
                  </span>
                </div>
              </div>
        
              <div class="ps-post-sidebar">
                <div class="ps-image-sidebar">
                  <a href=""><img
                      src="https://kingshoes.vn/data/upload/media/kingshoes.vn-huong-dan-cach-ve-sinh-giay-sneakers-chinh-hang-tai-tphcm.jpg"
                      alt=""></a>
                </div>
                <div class="ps-box-sidebar">
                  <p>MY SHOES - HƯỚNG DẪN CÁCH VỆ SINH GIÀY SNEAKER !!!</p>
                  <span>
                    <i class="fa fa-calendar-o"></i> 13/08/2020 - <i class="fa fa-clock-o"></i> 8:00AM
                  </span>
                </div>
              </div>
        
              <div class="ps-post-sidebar">
                <div class="ps-image-sidebar">
                  <a href=""><img
                      src="https://kingshoes.vn/data/upload/media/spa-giay-chuyen-nghiep-king-shoes-ve-sinh-giay-crep-protect-hcm-1-1572690766--hbisappc-1624438875--2-.jpeg"
                      alt=""></a>
                </div>
                <div class="ps-box-sidebar">
                  <p>DỊCH VỤ VỆ SINH GIÀY SNEAKER CHUYÊN NGHIỆP TẠI TÂN BÌNH MYSHOES.VN</p>
                  <span>
                    <i class="fa fa-calendar-o"></i> 11/01/2023 - <i class="fa fa-clock-o"></i> 12:00AM
                  </span>
                </div>
              </div>
        
              <div class="ps-post-sidebar">
                <div class="ps-image-sidebar">
                  <a href=""><img
                      src="https://kingshoes.vn/data/upload/media/spa-giay-chuyen-nghiep-king-shoes-ve-sinh-giay-crep-protect-hcm-1-1572690766--hbisappc-1624438875--2-.jpeg"
                      alt=""></a>
                </div>
                <div class="ps-box-sidebar">
                  <p>DỊCH VỤ VỆ SINH GIÀY SNEAKER CHUYÊN NGHIỆP TẠI TÂN BÌNH MYSHOES.VN</p>
                  <span>
                    <i class="fa fa-calendar-o"></i> 11/01/2023 - <i class="fa fa-clock-o"></i> 12:00AM
                  </span>
                </div>
              </div>
        
              <div class="ps-post-sidebar">
                <div class="ps-image-sidebar">
                  <a href=""><img
                      src="https://kingshoes.vn/data/upload/media/spa-giay-chuyen-nghiep-king-shoes-ve-sinh-giay-crep-protect-hcm-1-1572690766--hbisappc-1624438875--2-.jpeg"
                      alt=""></a>
                </div>
                <div class="ps-box-sidebar">
                  <p>DỊCH VỤ VỆ SINH GIÀY SNEAKER CHUYÊN NGHIỆP TẠI TÂN BÌNH MYSHOES.VN</p>
                  <span>
                    <i class="fa fa-calendar-o"></i> 11/01/2023 - <i class="fa fa-clock-o"></i> 12:00AM
                  </span>
                </div>
              </div>
        
              <div class="ps-post-sidebar">
                <div class="ps-image-sidebar">
                  <a href=""><img
                      src="https://kingshoes.vn/data/upload/media/spa-giay-chuyen-nghiep-king-shoes-ve-sinh-giay-crep-protect-hcm-1-1572690766--hbisappc-1624438875--2-.jpeg"
                      alt=""></a>
                </div>
                <div class="ps-box-sidebar">
                  <p>DỊCH VỤ VỆ SINH GIÀY SNEAKER CHUYÊN NGHIỆP TẠI TÂN BÌNH MYSHOES.VN</p>
                  <span>
                    <i class="fa fa-calendar-o"></i> 11/01/2023 - <i class="fa fa-clock-o"></i> 12:00AM
                  </span>
                </div>
              </div>
        
              <div class="ps-post-sidebar">
                <div class="ps-image-sidebar">
                  <a href=""><img
                      src="https://kingshoes.vn/data/upload/media/spa-giay-chuyen-nghiep-king-shoes-ve-sinh-giay-crep-protect-hcm-1-1572690766--hbisappc-1624438875--2-.jpeg"
                      alt=""></a>
                </div>
                <div class="ps-box-sidebar">
                  <p>DỊCH VỤ VỆ SINH GIÀY SNEAKER CHUYÊN NGHIỆP TẠI TÂN BÌNH MYSHOES.VN</p>
                  <span>
                    <i class="fa fa-calendar-o"></i> 11/01/2023 - <i class="fa fa-clock-o"></i> 12:00AM
                  </span>
                </div>
              </div>
              <div class="ps-post-sidebar">
                <div class="ps-image-sidebar">
                  <a href=""><img
                      src="https://kingshoes.vn/data/upload/media/spa-giay-chuyen-nghiep-king-shoes-ve-sinh-giay-crep-protect-hcm-1-1572690766--hbisappc-1624438875--2-.jpeg"
                      alt=""></a>
                </div>
                <div class="ps-box-sidebar">
                  <p>DỊCH VỤ VỆ SINH GIÀY SNEAKER CHUYÊN NGHIỆP TẠI TÂN BÌNH MYSHOES.VN</p>
                  <span>
                    <i class="fa fa-calendar-o"></i> 11/01/2023 - <i class="fa fa-clock-o"></i> 12:00AM
                  </span>
                </div>
              </div>
        
        
            </div>
            <hr>
            <div class="ps-sidebar-header">
              <h3>Sản Phẩm Mới</h3>
            </div>
            <div class="ps-sidebar-content">
              <div class="ps-post-sidebar">
                <div class="ps-image-sidebar">
                  <img src="/images/AIR-FORCE 1-NBY-NAM.png" alt="">
                </div>
                <div class="ps-box-sidebar">
                  <p>ARI FORCE 1 NBY</p>
                  <div class="stars-sidebar">
                    <form action="">
                      <input class="star-sidebar star-sidebar-5" id="star-sidebar-5" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-5" for="star-sidebar-5"></label>
                      <input class="star-sidebar star-sidebar-4" id="star-sidebar-4" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-4" for="star-sidebar-4"></label>
                      <input class="star-sidebar star-sidebar-3" id="star-sidebar-3" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-3" for="star-sidebar-3"></label>
                      <input class="star-sidebar star-sidebar-2" id="star-sidebar-2" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-2" for="star-sidebar-2"></label>
                      <input class="star-sidebar star-sidebar-1" id="star-sidebar-1" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-1" for="star-sidebar-1"></label>
                    </form>
                  </div>
                  <i></i><p>Giá : <del>2,500,000 VNĐ</del> <strong>1,900,000 VNĐ</strong></p>
                </div>
              </div>

              <div class="ps-post-sidebar">
                <div class="ps-image-sidebar">
                  <img src="/images/AIR-FORCE 1-NBY-NAM.png" alt="">
                </div>
                <div class="ps-box-sidebar">
                  <p>ARI FORCE 1 NBY</p>
                  <div class="stars-sidebar">
                    <form action="">
                      <input class="star-sidebar star-sidebar-5" id="star-sidebar-5" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-5" for="star-sidebar-5"></label>
                      <input class="star-sidebar star-sidebar-4" id="star-sidebar-4" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-4" for="star-sidebar-4"></label>
                      <input class="star-sidebar star-sidebar-3" id="star-sidebar-3" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-3" for="star-sidebar-3"></label>
                      <input class="star-sidebar star-sidebar-2" id="star-sidebar-2" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-2" for="star-sidebar-2"></label>
                      <input class="star-sidebar star-sidebar-1" id="star-sidebar-1" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-1" for="star-sidebar-1"></label>
                    </form>
                  </div>
                  <i></i><p>Giá : <del>2,500,000 VNĐ</del> <strong>1,900,000 VNĐ</strong></p>
                </div>
              </div>

              <div class="ps-post-sidebar">
                <div class="ps-image-sidebar">
                  <img src="/images/AIR-FORCE 1-NBY-NAM.png" alt="">
                </div>
                <div class="ps-box-sidebar">
                  <p>ARI FORCE 1 NBY</p>
                  <div class="stars-sidebar">
                    <form action="">
                      <input class="star-sidebar star-sidebar-5" id="star-sidebar-5" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-5" for="star-sidebar-5"></label>
                      <input class="star-sidebar star-sidebar-4" id="star-sidebar-4" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-4" for="star-sidebar-4"></label>
                      <input class="star-sidebar star-sidebar-3" id="star-sidebar-3" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-3" for="star-sidebar-3"></label>
                      <input class="star-sidebar star-sidebar-2" id="star-sidebar-2" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-2" for="star-sidebar-2"></label>
                      <input class="star-sidebar star-sidebar-1" id="star-sidebar-1" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-1" for="star-sidebar-1"></label>
                    </form>
                  </div>
                  <i></i><p>Giá : <del>2,500,000 VNĐ</del> <strong>1,900,000 VNĐ</strong></p>
                </div>
              </div>

              <div class="ps-post-sidebar">
                <div class="ps-image-sidebar">
                  <img src="/images/AIR-FORCE 1-NBY-NAM.png" alt="">
                </div>
                <div class="ps-box-sidebar">
                  <p>ARI FORCE 1 NBY</p>
                  <div class="stars-sidebar">
                    <form action="">
                      <input class="star-sidebar star-sidebar-5" id="star-sidebar-5" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-5" for="star-sidebar-5"></label>
                      <input class="star-sidebar star-sidebar-4" id="star-sidebar-4" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-4" for="star-sidebar-4"></label>
                      <input class="star-sidebar star-sidebar-3" id="star-sidebar-3" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-3" for="star-sidebar-3"></label>
                      <input class="star-sidebar star-sidebar-2" id="star-sidebar-2" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-2" for="star-sidebar-2"></label>
                      <input class="star-sidebar star-sidebar-1" id="star-sidebar-1" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-1" for="star-sidebar-1"></label>
                    </form>
                  </div>
                  <i></i><p>Giá : <del>2,500,000 VNĐ</del> <strong>1,900,000 VNĐ</strong></p>
                </div>
              </div>

              <div class="ps-post-sidebar">
                <div class="ps-image-sidebar">
                  <img src="/images/AIR-FORCE 1-NBY-NAM.png" alt="">
                </div>
                <div class="ps-box-sidebar">
                  <p>ARI FORCE 1 NBY</p>
                  <div class="stars-sidebar">
                    <form action="">
                      <input class="star-sidebar star-sidebar-5" id="star-sidebar-5" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-5" for="star-sidebar-5"></label>
                      <input class="star-sidebar star-sidebar-4" id="star-sidebar-4" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-4" for="star-sidebar-4"></label>
                      <input class="star-sidebar star-sidebar-3" id="star-sidebar-3" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-3" for="star-sidebar-3"></label>
                      <input class="star-sidebar star-sidebar-2" id="star-sidebar-2" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-2" for="star-sidebar-2"></label>
                      <input class="star-sidebar star-sidebar-1" id="star-sidebar-1" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-1" for="star-sidebar-1"></label>
                    </form>
                  </div>
                  <i></i><p>Giá : <del>2,500,000 VNĐ</del> <strong>1,900,000 VNĐ</strong></p>
                </div>
              </div>

              <div class="ps-post-sidebar">
                <div class="ps-image-sidebar">
                  <img src="/images/AIR-FORCE 1-NBY-NAM.png" alt="">
                </div>
                <div class="ps-box-sidebar">
                  <p>ARI FORCE 1 NBY</p>
                  <div class="stars-sidebar">
                    <form action="">
                      <input class="star-sidebar star-sidebar-5" id="star-sidebar-5" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-5" for="star-sidebar-5"></label>
                      <input class="star-sidebar star-sidebar-4" id="star-sidebar-4" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-4" for="star-sidebar-4"></label>
                      <input class="star-sidebar star-sidebar-3" id="star-sidebar-3" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-3" for="star-sidebar-3"></label>
                      <input class="star-sidebar star-sidebar-2" id="star-sidebar-2" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-2" for="star-sidebar-2"></label>
                      <input class="star-sidebar star-sidebar-1" id="star-sidebar-1" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-1" for="star-sidebar-1"></label>
                    </form>
                  </div>
                  <i></i><p>Giá : <del>2,500,000 VNĐ</del> <strong>1,900,000 VNĐ</strong></p>
                </div>
              </div>

              <div class="ps-post-sidebar">
                <div class="ps-image-sidebar">
                  <img src="/images/AIR-FORCE 1-NBY-NAM.png" alt="">
                </div>
                <div class="ps-box-sidebar">
                  <p>ARI FORCE 1 NBY</p>
                  <div class="stars-sidebar">
                    <form action="">
                      <input class="star-sidebar star-sidebar-5" id="star-sidebar-5" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-5" for="star-sidebar-5"></label>
                      <input class="star-sidebar star-sidebar-4" id="star-sidebar-4" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-4" for="star-sidebar-4"></label>
                      <input class="star-sidebar star-sidebar-3" id="star-sidebar-3" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-3" for="star-sidebar-3"></label>
                      <input class="star-sidebar star-sidebar-2" id="star-sidebar-2" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-2" for="star-sidebar-2"></label>
                      <input class="star-sidebar star-sidebar-1" id="star-sidebar-1" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-1" for="star-sidebar-1"></label>
                    </form>
                  </div>
                  <i></i><p>Giá : <del>2,500,000 VNĐ</del> <strong>1,900,000 VNĐ</strong></p>
                </div>
              </div>

              <div class="ps-post-sidebar">
                <div class="ps-image-sidebar">
                  <img src="/images/AIR-FORCE 1-NBY-NAM.png" alt="">
                </div>
                <div class="ps-box-sidebar">
                  <p>ARI FORCE 1 NBY</p>
                  <div class="stars-sidebar">
                    <form action="">
                      <input class="star-sidebar star-sidebar-5" id="star-sidebar-5" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-5" for="star-sidebar-5"></label>
                      <input class="star-sidebar star-sidebar-4" id="star-sidebar-4" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-4" for="star-sidebar-4"></label>
                      <input class="star-sidebar star-sidebar-3" id="star-sidebar-3" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-3" for="star-sidebar-3"></label>
                      <input class="star-sidebar star-sidebar-2" id="star-sidebar-2" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-2" for="star-sidebar-2"></label>
                      <input class="star-sidebar star-sidebar-1" id="star-sidebar-1" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-1" for="star-sidebar-1"></label>
                    </form>
                  </div>
                  <i></i><p>Giá : <del>2,500,000 VNĐ</del> <strong>1,900,000 VNĐ</strong></p>
                </div>
              </div>

              <div class="ps-post-sidebar">
                <div class="ps-image-sidebar">
                  <img src="/images/AIR-FORCE 1-NBY-NAM.png" alt="">
                </div>
                <div class="ps-box-sidebar">
                  <p>ARI FORCE 1 NBY</p>
                  <div class="stars-sidebar">
                    <form action="">
                      <input class="star-sidebar star-sidebar-5" id="star-sidebar-5" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-5" for="star-sidebar-5"></label>
                      <input class="star-sidebar star-sidebar-4" id="star-sidebar-4" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-4" for="star-sidebar-4"></label>
                      <input class="star-sidebar star-sidebar-3" id="star-sidebar-3" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-3" for="star-sidebar-3"></label>
                      <input class="star-sidebar star-sidebar-2" id="star-sidebar-2" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-2" for="star-sidebar-2"></label>
                      <input class="star-sidebar star-sidebar-1" id="star-sidebar-1" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-1" for="star-sidebar-1"></label>
                    </form>
                  </div>
                  <i></i><p>Giá : <del>2,500,000 VNĐ</del> <strong>1,900,000 VNĐ</strong></p>
                </div>
              </div>

              <div class="ps-post-sidebar">
                <div class="ps-image-sidebar">
                  <img src="/images/AIR-FORCE 1-NBY-NAM.png" alt="">
                </div>
                <div class="ps-box-sidebar">
                  <p>ARI FORCE 1 NBY</p>
                  <div class="stars-sidebar">
                    <form action="">
                      <input class="star-sidebar star-sidebar-5" id="star-sidebar-5" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-5" for="star-sidebar-5"></label>
                      <input class="star-sidebar star-sidebar-4" id="star-sidebar-4" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-4" for="star-sidebar-4"></label>
                      <input class="star-sidebar star-sidebar-3" id="star-sidebar-3" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-3" for="star-sidebar-3"></label>
                      <input class="star-sidebar star-sidebar-2" id="star-sidebar-2" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-2" for="star-sidebar-2"></label>
                      <input class="star-sidebar star-sidebar-1" id="star-sidebar-1" type="radio" name="star-sidebar"/>
                      <label class="star-sidebar star-sidebar-1" for="star-sidebar-1"></label>
                    </form>
                  </div>
                  <i></i><p>Giá : <del>2,500,000 VNĐ</del> <strong>1,900,000 VNĐ</strong></p>
                </div>
              </div>
          </div>
          </div>
      
	</main>
</body>
</html>