<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="article">
			<header>
				<h4>BÁN GIÀY THỂ THAO SNEAKER CHÍNH HÃNG TẠI TPHCM - MY SHOES
					GIỚI THIỆU</h4>
			</header>
			<div class="box-GT">
				<p>Đến với "MYSHOES.VN” quý khách hàng sẽ có những sản phẩm ưng
					ý nhất, chất lượng phục vụ tốt và giá thành tốt nhất, cùng những “
					Chương Trình Khuyến Mãi Đặc Biệt”.</p>
				<img src="/images/banner-two.webp" alt="">
			</div>
			<div class="box-GT">
				<p>Chào mừng đến với MyShoes - điểm đến hoàn hảo cho những người
					yêu thích thế giới giày dép đa dạng và phong cách! Chúng tôi tự hào
					là một cửa hàng chuyên nghiệp cung cấp những sản phẩm giày hàng đầu
					với đa dạng mẫu mã và chất lượng đỉnh cao.</p>
				<img src="/images/banner-1.jpg" alt="">
			</div>
			<div class="box-GT">
				<p>Tại MyShoes, chúng tôi cam kết mang đến cho bạn những trải
					nghiệm mua sắm thú vị và thoải mái nhất. Với bộ sưu tập đa dạng từ
					các thương hiệu nổi tiếng, chúng tôi tự tin rằng bạn sẽ tìm thấy
					đôi giày phù hợp với phong cách cá nhân và nhu cầu sử dụng của
					mình. Từ những đôi sneakers thời trang cho cuộc sống hàng ngày, đến
					những đôi giày chất lượng cho các dịp quan trọng, MyShoes luôn đồng
					hành cùng bạn trong mọi bước đi.</p>
				<img src="/images/banner-three.jpg" alt="">
			</div>
			<div class="box-GT">
				<p>Chúng tôi luôn đặt chất lượng lên hàng đầu và đảm bảo rằng
					mỗi sản phẩm trong cửa hàng đều được kiểm tra kỹ lưỡng trước khi
					đến tay bạn. Đội ngũ chuyên nghiệp và tận tâm của chúng tôi sẽ luôn
					sẵn sàng tư vấn và hỗ trợ bạn trong quá trình chọn lựa sản phẩm.</p>
				<img src="/images/banner-1.jpg" alt="">
			</div>
			<div class="box-GT">
				<p>Hãy đặt niềm tin vào MyShoes để thỏa mãn đam mê của bạn với
					giày dép và để chúng tôi là điểm đến đáng tin cậy trong cuộc hành
					trình khám phá thế giới giày thời trang. Cảm ơn bạn đã lựa chọn
					MyShoes, chúc bạn một trải nghiệm mua sắm vui vẻ và hài lòng!</p>

			</div>
		</div>
</body>
</html>